:root{
    --blanco: #FFFFFF;
    --oscuro: #000000;
    --primario: #FFC107;
    --secundario: #0097a7;
    --gris: #757575;
    --fuente-principal: 'Roboto', sans-serif;
    --tamaño-principal: 3.3rem;
    --tamaño-secundario: 2.5rem;
    --tamaño-terciario: 2.1rem;
    --tamaño-texto: 1.8rem;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
    /*scroll-snap-type: y proximity;*/
}
body{
    background-image: linear-gradient(to top, #DFE9F3 0%,var(--blanco, ) 100%);
    margin-bottom: 3rem;
}
*{
    font-family: var(--fuente-principal);
    color:var(--blanco);
    padding: 0;
    margin: 0;
}

h1{
    font-size: var(--tamaño-principal);
        
}
h2{
    font-size: var(--tamaño-secundario);
    color: var(--oscuro);
    font-family: var(--fuente-principal);
    text-transform: uppercase;
    margin-bottom: 1rem;
}
h3{
    font-size: var(--tamaño-terciario);
    color: var(--oscuro);
    margin-bottom: 1rem;
}
span, p{
    font-size: var(--tamaño-texto);
    font-style: normal;
    color: var(--oscuro);
}

/* Configuracion principal*/
/*
.tabla,.navegacion-principal, .Trabajos{
    scroll-snap-align: center;
    scroll-snap-stop: always;
}*/
.contenedor{
    max-width: 100rem;
    margin: 0 auto 0 auto;
}
.contenedor1{
    max-width: 150rem;
    margin: 5rem auto 0 auto;
}
.negrita {
    font-weight: bold;
}
.centrado{
    text-align: center;
}
.blanco{
    color: var(--blanco);
}

/* Navegacion */ 
.navegacion-bg{
    width: 100%;
    background-color: rgb(252, 111, 170);
    position: fixed; 
    z-index: 100; 
}

.navegacion-principal{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.navegacion-principal a{
    display: block;
    text-align: center;
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem;
     
}




/* Imagen de fondo */

.bg-img{
    background-image: url(portada.jpg);
    position: relative;
    background-repeat: no-repeat;
    background-size: 100%,100%;
    position: 50%,50%;
    height: 70rem;
    margin-bottom: 2rem;    
}

.contenido-bg-img{
    background-color: rgba(0,0,0,0.4);
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Foto de perfil */ 
.foto-perfil{
    position: 50%, 50%;
    width: 35rem;
    height: 35rem;
    border-radius: 50%;
    
}

.nombre{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Acerca de mi */ 
.tabla{
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 2rem;
    
}
.columna{
    display: flex;
    flex-direction: column;
    font-size: var(--tamaño-texto);
    font-weight: light;
    
}

.columna p{
    margin-bottom: 1rem;
    color: var(--oscuro);
    
}
.columna span, a{
    margin-left: 1rem;
    color: var(--oscuro);
    
    font-family: var(--fuente-principal);
    font-weight: normal;
}
.columna a{
    color: blue;
}
.lista{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(3,1fr);
    grid-column: 10rem, 10rem;
    justify-content: center;
    align-items: center;
    grid-row-gap: 0px;
}
.titulo{
    grid-column: 1;
}
.fila1{
    grid-column: 2;
    grid-row: 1;
}
.fila2{
    grid-column: 2;
    grid-row: 2;
}
.fila3{
    grid-column: 2;
    grid-row: 3;
}



.sombra{
    -webkit-box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.54);
    -moz-box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.54);
    box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.54);
    background-color: var(--blanco);
    padding: 2rem;
    border-radius: .5rem;
}

.Trabajos{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 2rem;
    
}
.Trabajo{
    display: flex;
    flex-direction: column;
    font-size: var(--tamaño-texto);
    font-weight: light;
    
}

.imagen{
    width: 45rem;
    height: 30rem;
}

.Repo{
    text-align: right;
    font-size: 1.5rem;
    color: blue;
    text-decoration: underline;
}

