:root{
    --blanco: #FFFFFF;
    --oscuro: #000000;
    --primario: #FFC107;
    --secundario: #0097a7;
    --gris: #757575;
    --fuente-principal: 'Roboto', sans-serif;
    --tamaño-principal: 3.3rem;
    --tamaño-secundario: 2.5rem;
    --tamaño-texto: 1.8rem
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
    /*scroll-snap-type: y mandatory;*/
}
*{
    font-family: var(--fuente-principal);
    color:var(--blanco)
}
h1{
    font-size: var(--tamaño-principal);
    font-style: 700rem;
    
}
span{
    font-size: var(--tamaño-texto);
    font-style: italic;
}


/* Navegacion */ 
.navegacion-bg{
    background-color: rgb(252, 111, 170);
}

.navegacion-principal{
    display: flex;
    flex-direction: column;
    
    align-items: center;
}

.navegacion-principal a{
    display: block;
    text-align: center;
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem;
}

.contenedor{
    max-width: 120rem;
    margin: 0 auto 0 auto;
}

@media (min-width: 768px) {
    .navegacion-principal{
        flex-direction: row;
        
        justify-content: space-between;
    }
}

/* Imagen de fondo */

.bg-img{
    background-image: url(portada1.jfif);
    position: relative;
    background-repeat: no-repeat;
    background-size: 100%,100%;
    position: 50%,50%;
    height: 70rem;
    margin-bottom: 2rem;    
}

.contenido-bg-img{
    background-color: rgba(0,0,0,0.4);
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Foto de perfil */ 
.foto-perfil{
    position: 50%, 50%;
    width: 35rem;
    height: 35rem;
    border-radius: 50%;
    border-color: blue;
    
}

.nombre{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}





